#img_logo{
  width: 200px;
}

img, iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,h2{
  font-family: 'Jim Nightshade', cursive;
}

a:link{
  text-decoration: none;
  color: #696969;
}
a:visited{
  color: #DCDCDC;
  text-decoration: line-through;
}
a:hover{
  font-size:20px;
  font-style:italic;
}
a:active{

}
a[href*="http:"]{
  background-image: url(img/globo.png);
  background-repeat: no-repeat;
  padding-left:20px;
}
